.displayWrapper {
    display:flex;
    justify-content:center;
    align-items:center;

    width:100%;
}

.topDisplay {
    position:relative;

    display:grid;
    grid-template-columns:1fr auto 1fr;

    align-items:center;

    width:100%;

    min-height:50px;

    padding:6px 10px;

    border:2px solid var(--log-border);

    box-sizing:border-box;
}

.left {
    display:flex;

    align-items:center;
    justify-content:flex-start;

    min-width:0;
}

.buttonGroup {
    display:flex;

    align-items:center;

    justify-content:flex-start;

    gap:6px;

    width:max-content;
}


.center {
    display:flex;

    align-items:center;

    justify-content:center;

    white-space:nowrap;

    min-width:0;
}

.right {
    display:flex;

    align-items:center;

    justify-content:flex-end;

    width:100%;

    min-width:0;
}

.right > * {
    margin-left:auto;
}

.topDisplay button {
    flex-shrink:0;
}

@media (min-width: 1024) {
    .topDisplay {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 1800px) {
    .topDisplay {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
}
