.clockWrapper {
    position: relative;
}


.clockButton {
    display: flex;
    align-items: center;

    width: 130px;
    height: 42px;

    position: relative;

    background: #202020;
    border-radius: 10px;
    border: 2px solid var(--bg);

    overflow: hidden;

    color: white;
}


/* tiden */
.time {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;

    transition:
        transform .25s ease;
}


/* när kugghjulet är dolt */
.timeCenter {

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

}


/* kugghjul */
.settingsButton {

    width: 38px;
    height: 100%;

    border: none;

    background: rgba(255,255,255,0.06);

    color: white;

    cursor: pointer;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;


    flex-shrink: 0;


    transition:
        transform .25s ease,
        opacity .25s ease,
        background .2s ease;

}


.settingsButton:hover {

    background:
        rgba(255,255,255,0.15);

    /* transform: rotate(30deg); */

}



/* göm kugghjulet */
.hideSettings {

    opacity: 0;

    transform:
        translateX(40px)
        rotate(90deg);


    pointer-events: none;

}



/* aktiv klocka */

.active {

    background:#2e6eb5;

    box-shadow:
        0 0 14px rgba(46,110,181,.6);

}



/* ==========================
   MENY
========================== */


.clockMenu {
    position: absolute;

    top: 48px;

    right: 0;
    left: auto;

    background: #1c1c1c;

    border-radius: 10px;


    padding: 12px;

    min-width: 180px;

    z-index: 1000;


    opacity: 0;

    transform:
        translateY(-10px)
        scale(.95);


    pointer-events: none;


    transition:
        opacity .25s ease,
        transform .25s cubic-bezier(.4,0,.2,1);
}

.open {

    opacity:1;


    transform:
        translateY(0)
        scale(1);


    pointer-events:auto;

}



.menuTitle {

    color:#ccc;

    font-size:14px;

    margin-bottom:10px;

}



.timeRow {

    display:flex;

    gap:8px;

    flex-wrap:wrap;

}



.timeButton {

    background:#2e6eb5;

    border:none;


    color:white;


    padding:7px 10px;


    border-radius:6px;


    cursor:pointer;

}


.timeButton:hover {

    background:#3a7ed0;

}