.undoButton,
.fenButton,
.flipButton {
    width: 40px;
    height: 40px;

    min-width: 40px;
    max-width: 40px;

    min-height: 40px;
    max-height: 40px;

    box-sizing: border-box;

    border: none;
    border-radius: 10px;

    background-color: #202020;
    color: white;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    line-height: 1;

    margin: 0;

    transition:
        transform 0.6s ease,
        filter 0.3s ease;
}

.flipButton span {
    font-size: 1.6rem;
    transform: translateY(-1px);
}

.undoButton {
    font-size: 1.6rem;
}

.fenButton {
    font-size: 0.85rem;
}

.undoButton span {
    display: inline-block;
    transform: translateY(-1px);
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}


.icon > span {
    display: block;
    transform: translateY(-1px);
}


.iconRotate {
    display: flex;
    align-items: center;
    justify-content: center;

    animation: spinIcon 0.6s ease;
}


.iconRotate > span {
    display: block;
    transform: translateY(-1px);
}


@keyframes spinIcon {
    from {
        transform: rotate(0deg) translateY(-1px);
    }

    to {
        transform: rotate(-360deg) translateY(-1px);
    }
}