.appWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #121212;
  color: #e0e0e0;
  font-family: system-ui, sans-serif;
}

/* MOBILE */
.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-top: 45px;
  flex: 1;
  position: fixed;
}

.centerColumn {
  display: block;
  flex-direction: column;
  align-items: center;
  /* gap: 16px; */
}

.clockRow {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8px 0;
}

.chessboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* width: fit-content; */
}

.moveSection {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background: #0f0f0f;
  border-top: 1px solid #333;
}

/* DESKTOP */
@media (min-width: 900px) {

  .mainLayout {
    display: grid;
    grid-template-columns: 260px auto 260px;
    gap: 20px;
    width: 100%;
    /* margin-top: 40px; */
    align-items: center;       
    justify-items: center;    
  }

  .centerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;    
    width: 100%;
  }

  .chessboardContainer {
    width: 700px;
    height: 700px;   /* SUPER VIKTIGT */
    margin: 0 auto;
  }

  .chessboardContainer .chessboard {
    width: auto !important;
    height: auto !important;
  }
}

