.appWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}


.mainLayout {
    display:flex;
    position:fixed;

    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

    inset:0;

    padding-top:var(--header);

    background-color:var(--bg);

    box-sizing:border-box;

    overflow:hidden;
}